@import "./App.scss";

.model-container {
  padding: 20px 5vw;
}

.return-btn {
  padding-left: 0 !important;
  color:black !important;
  font-size: 20px !important;;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.return-btn:hover {
  color: $dark-red !important;
  background-image: transparent !important;
}

.top-divider {
  margin: 10px !important;
}

.issue-title {
  width: 100%;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.issue-author {
  font-size: 1.3em;
  font-weight: 500;
  color: rgb(100, 100, 100);
}

.ant-comment-content-author {
  padding: 10px 20px;
  background-color: #f1f8ff;
  border: 1px solid #e1e4e8;
  border-bottom: none;
  margin-bottom: 0 !important;
}

.ant-comment-content-detail {
  padding: 20px;
  border: 1px solid #e1e4e8;
}

// author avatar
.ant-comment-avatar {
  width: 44px !important;
}
.ant-comment-avatar img {
  width: 100% !important;
  height: auto !important;
  border-radius: 0 !important;
}
.author-avatar {
  width: 100% !important;
  height: 100% !important;
}

.issue-body {
  width: 100%;
}

.comment-box {
  width: 100%;
  margin-bottom: 5vw;
}

.utterances {
  display: flex;
  max-width: 100%;
}
